.App {
  padding: 50px;
  background-image: url('https://img2.thuthuatphanmem.vn/uploads/2018/12/30/anh-background-dep-nhat_110341130.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
